
/*style the skip link to appear when focused and disappear when not focused*/
.skip a:focus {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ffffff;
    color: #000000;
    z-index: 1000;
}
.skip a {
    position: absolute;
    top: -40px;
    left: 0;
    background-color: #ffffff;
    color: #000000;
    z-index: 1000;
    padding: 8px;
    text-decoration: none;
}

/*set font family and colors/* brand colors: #FFCB05, #00274C, #131516 */
body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #131516;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*style the navigation bar background and links*/
/* brand colors: #FFCB05, #00274C, #131516 */
nav {
    background-color: #00274C;
    color: #ffffff;
    width: 100%;

}
/* style the navigation links to be horizontal and spaced out and aligned to the center of the navigation bar. The text should scale appropriately on different screen sizes.*/
nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

nav li {
    padding: 10px 8px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;

}

nav a {
    color: #FFCB05;
    text-decoration: none;
}
nav a:hover, nav a:focus {
    text-decoration: underline;
}

/* style the logo to be centered and scale appropriately. The logo should be centered in the navigation bar, and the navigation links will sit underneath it, centered as well. The logo should scale appropriately on different screen sizes.*/

.brand img {
    width: auto;
    display: block;
    margin: 0 auto;
    height: 100px;
}

/*style h1 to be centered and have a larger font size, scaled appropriately on different screen sizes using flexbox*/
.header-content h1 {
    font-size: 2rem;
    margin: 0;
    padding: 0;
    text-align: center;
}

/*style the index page image to be centered and scale appropriately. The image should be centered on the page, and the text will sit underneath it, centered as well. The image should scale appropriately on different screen sizes.*/

.journey img{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    height: auto;
}
.intro {
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}


/*style the footer*/
footer {
    background-color: #00274C;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
footer a{
    color:#FFCB05;
    text-decoration: none;

}
